In [2]:
from ipyleaflet import Map, Velocity, TileLayer, basemaps
import xarray as xr

In [6]:
fn = 'discharge_dailyTot_output.nc'

In [7]:
ds = xr.open_dataset(fn)
ds

<xarray.Dataset>
Dimensions:    (lat: 2160, lon: 4320, time: 9)
Coordinates:
  * time       (time) datetime64[ns] 2017-11-21 2017-11-22 2017-11-23 ...
  * lat        (lat) float32 89.958336 89.875 89.791664 89.708336 89.625 ...
  * lon        (lon) float32 -179.95833 -179.875 -179.79167 -179.70833 ...
Data variables:
    discharge  (time, lat, lon) float32 ...
Attributes:
    description:  test version (by Edwin H. Sutanudjaja)
    institution:  Department of Physical Geography, Utrecht University
    title:        PCR-GLOBWB output

In [8]:
from ipyleaflet import Map, Heatmap
from random import uniform

In [9]:
locations=[[uniform(-80, 80), uniform(-180, 180), uniform(0, 1000)] for i in range(1000)],

In [14]:
locations[0][0]

[-16.490150176470912, -172.53641479478298, 647.1652302059241]

In [67]:
d1 = ds.sel(time='2017-11-21').to_dataframe().dropna()

In [87]:
x = [(z.Index[0], z.Index[1], z.discharge) for z in d1.itertuples()]

In [88]:
m = Map(center=(0, 0), zoom=2)

In [102]:
heatmap = Heatmap(
    locations=x,
    radius=0.001,
    blur=0.001
)

In [103]:
m.add_layer(heatmap);

m

Map(basemap={'url': 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 'max_zoom': 19, 'attribution': 'Map â€¦

In [100]:
len(d1)

2125165

In [101]:
 df.head()

                            time  discharge
lat       lon
89.958336 -179.958328 2017-11-21        NaN
          -179.875000 2017-11-21        NaN
          -179.791672 2017-11-21        NaN
          -179.708328 2017-11-21        NaN
          -179.625000 2017-11-21        NaN